* {
	margin:0;
	padding:0;
}

/** General Style Info **/
body {
	background: #8cbcd7;
	color: black;;
	font-family:'lucida grande',verdana,helvetica,arial,sans-serif;
	margin: 0;
}

#container {
	width: 960px;
	border: 1px solid rgb(64,64,64);
	padding: 25px;
	background: white;
	margin: 0px auto;
	position: relative;
}

a {
	color: #003d4c;
	text-decoration: underline;
	/* font-weight: bold; */
	font-size: 12px;
}
a:hover {
	color: #367889;
	text-decoration:none;
}
a img {
	border:none;
}

div.gravatar {
	border: 1px solid rgb(72,72,72);
	padding: 2px;
	float: left;
	background: white;
	width: 300px;
}

img#gravatar {
	display: block;
	/* float: left; */
	margin: 0 auto;
	/* padding: 2px; */
	/* background: white; */
}

#top-welcome {
	position: absolute;
	top: 0;
	right: 0;
	/* background: rgb(244,244,244); */
	/* border-bottom: 1px solid rgb(222,222,222); */
	/* padding: 6px 0; */
	color: red;
	font-size: 12px;
	/* padding-left: 10px; */
}

#logo {
	color: #e4eff7;
	font-family:georgia;
	font-size:40px;
	line-height:40px;
	padding: 5px;
	width: 1012px;
	margin: 20px auto 0;
	text-shadow:1px 1px 0 black;
}

div.info {
	overflow: hidden;
	padding: 10px;
	margin: 20px 0;
	background: #4e7692 /* -moz-linear-gradient(top, #4e7692, #438dc0 80%); */
}

div.dane {
	float: right;
	width: 264px;
	margin: 40px 30px 30px 0;
	/* border-left: 1px dotted #CFDCE6; */
	padding-left: 16px;
}

div.info p {
	background: transparent;
	padding: 5px;
	margin: 0 0 10px;
	text-align: left;
	border-bottom: 1px dotted #cfdce6;
	font-size: 12px;
	color: #cfdce6;
}



p span {
	color: white;
	font-weight: bold;
}

h1 {
	background:#fff;
	color: black;
	margin-bottom: 0.5em;
	font-weight: normal;
	font-family: Georgia, serif;
}

h1 span {
	color: #4a76f2;
}

h2 {
	background:#fff;
	color: black;
	margin-bottom: 0.5em;
	font-weight: normal;
	font-family: Georgia, serif;
}

#content-middle h2 {
	background: transparent;
	color: #4E7692;
	margin-bottom: 2px;
	font-weight: normal;
	font-family: 'century gothic', Georgia, serif;
}

h3 {
	color: #993;
	font-family:'Gill Sans','lucida grande', helvetica, arial, sans-serif;
}
h4 {
	color: #993;
}


/** Layout **/
#container {
	text-align: left;
}

#header{
	padding: 10px 20px;
}
#header h1 {
	line-height:20px;
	background: #003d4c url('../img/cake.icon.png') no-repeat left;
	color: #fff;
	padding: 0px 30px;
}
#header h1 a {
	color: #fff;
	background: #003d4c;
	font-weight: normal;
	text-decoration: none;
}
#header h1 a:hover {
	color: #fff;
	background: #003d4c;
	text-decoration: underline;
}
#content{
	background: #fff;
	clear: both;
	color: #333;
	padding: 10px 20px 40px 20px;
	overflow: auto;
}
#footer {
	/* clear: both; */
	/* padding: 6px 10px; */
	margin: 10px 0 40px;
	text-align: center;
	color: white;
	font: 10px Arial;
}

a.footer {
	margin-top: 20px;
	display: block;
	text-decoration: none;
	width: auto;
	padding: 2xp;
}

a.footer:hover {
	background: #003d4c;
	color: white;
}

div.friend, div.city {
	font-size: 15px;
	font-family: Arial;
	font-weight: bold;
	color: #3297d0;
	margin: 4px 0;
}

div.city {
	font-weight: normal;
	color: black;
	font-size: 13px;
}

/** Tables **/
#friendList table {
	background: #fff;
	border-right:0;
	clear: both;
	color: #333;
	margin-bottom: 10px;
	width: 100%;
}

#friendList table tr td {
	background: #fff;
	/* padding: 6px; */
	text-align: left;
	vertical-align: top;
	border-bottom: 1px solid rgb(220,220,220);
}

#friendList th {
	border:0;
	border-bottom:2px solid #555;
	text-align: left;
	padding:4px;
}
#friendList th a {
	display: block;
	padding: 2px 4px;
	text-decoration: none;
}

#friendList table tr:nth-child(2n) td {
	background: #FBFBFB;
}

.messagesList {
	width: 100%;
	font: 16px Arial;
}

.messagesList tr th {
	padding: 5px 12px;
	font: bold 14px verdana;
}

.messagesList tr td {
	padding: 12px 12px;
	font: 14px verdana;
	background: #fdfdfd;
}

tr.new td {
	background: #f3ffeb;
}

tr td {
	
}

/*
.messagesList tr:hover td{
	background: #f6f6f6;
}
*/

.messagesList tr td a {
	color: #3297D0;
	font: 14px Verdana;
	text-decoration: none;
}

.messagesList tr td a:hover {
	text-decoration: underline;
}

td.messageTresc {
	padding: 10px 10px !important;
	color: black;
	background: white;
	border: 1px solid #DDDDDD;
	font: 13px verdana
}

td.messageTresc h3 {
	color: black;
	font: bold 13px Arial;
	text-decoration: underline;
	margin: 0 0 20px;
}

td.messageTresc div {
	margin: 50px 0 0;
	font-size: 11px;
}

td.messageTresc div a {
	font-size: 11px;
}

/** Tables ORIGINAL **/
table {
	background: #fff;
	border-right:0;
	clear: both;
	color: #333;
	margin-bottom: 10px;
	width: 100%;
}
th {
	border:0;
	border-bottom:2px solid #555;
	text-align: left;
	padding:4px;
}
th a {
	display: block;
	padding: 2px 4px;
	text-decoration: none;
}

table tr td {
	background: #fff;
	padding: 6px;
	text-align: left;
	vertical-align: top;
	border-bottom:1px solid #ddd;
}
table.list tr:nth-child(2n) td {
	background: #fdfdfd;
}

/** Forms **/
form {
	border-bottom: 1px solid rgb(222,222,222);
	padding: 10px;
	background: rgb(244,244,244);
	width: 50%;
	font-family: Verdana;
	font-size: 14px;
	margin-bottom: 20px;
}

div.input {
	overflow: hidden;
	margin: 3px 0;
}

form input {
	border: 1px solid rgb(222,222,222);
	background: white;
	color: blue;
	padding: 2px 4px;
}

form select {
	border: 1px solid rgb(222,222,222);
	background: white;
	color: blue;
	padding: 1px 4px;
}

option {
	background: white;
	color: blue;
	padding: 0px 4px;
}

form input[type=text], form input[type=password], form select {
	width: 180px;
}

form input[type=submit] {
	padding: 2px 15px;
	margin: 10px 0 0 56px;
}

form label {
	float: left;
	width: 140px;
	text-align: right;
	padding: 2px 10px;
	color: rgb(86,86,86);
	font-weight: normal;
	font-size: 13px;
	line-height: 17px;
}

form.search {
	width: 302px;
	clear: left;
	margin-bottom: 10px;
}

form.search input[type=text] {
	width: 292px;
	font-style: italic;
	color: rgb(146,146,146);
}

.messageForm {
	border-bottom: 1px solid rgb(222,222,222);
	padding: 10px;
	background: #4E7692;
	width: 80%;
	font-family: Verdana;
	font-size: 14px;
	margin-bottom: 20px;
}

.messageForm label {
	float: none;
	display: block;
	/* width: 140px; */
	text-align: left;
	padding: 2px 10px;
	color: #CFDCE6;
	font-weight: normal;
	font-size: 13px;
	line-height: 17px;
	width: 100%;
}

.messageForm input, .messageForm textarea {
	border: 2px solid #CFDCE6;
	background: white;
	color: black;
	padding: 4px 4px;
	margin: 4px 10px;
}

.messageForm input[type=text] {
	width: 450px;
	font-weight: bold;
}

.messageForm input[type=submit] {
	color: black;
	padding: 2px 15px;
	margin: 10px 0 5px 531px;
	border: 2px solid #CFDCE6;
}
/** Forms **/


/** Notices and Errors **/
div.message {
	color: black;
	font-size: 14px;
	font-family: Verdana;
	border: 1px solid #4a76f2;
	font-weight: bold;
	margin: 0 0 1em 0;
	background: #d7f0ff;
	padding: 10px 30px;
	width: 500px;
}

p.error {
	background-color: #e32;
	color: #fff;
	font-family: Courier, monospace;
	font-size: 120%;
	line-height: 140%;
	padding: 0.8em;
	margin: 1em 0;
}
p.error em {
	color: #000;
	font-weight: normal;
	line-height: 140%;
}
.notice {
	background: #ffcc00;
	color: #000;
	display: block;
	font-family: Courier, monospace;
	font-size: 120%;
	line-height: 140%;
	padding: 0.8em;
	margin: 1em 0;
}
.success {
	background: green;
	color: #fff;
}

	ul {
		background: #F4F4F4;
		list-style: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
	}
	
	li {
		background: #F4F4F4;
		text-align: left;
	}
	
	li#first {
		/* color: blue; */
		/* background: transparent; */
		/* position: relative; */
		border-bottom: 1px solid #404040;
		text-align: center;
		border-left: 1px solid #404040;
		/* float: right; */
	}
	
	li#first a {
		font-weight: bold;
		background: #cf8496;
		color: white;
		text-decoration: none;
		padding: 5px 10px;
		/* margin: 1px; */
		width: 100px;
		display: block;
	}
	
	li#first a:hover {
		/* background: #6195b3; */
	}

	
	li#first ul li a {
		color: #9f354e;
		text-decoration: none;
		padding: 7px 7px 7px 26px;
		/* margin: 1px; */
		width: inherit;
		display: block;
		background: white;
		font-weight: normal;
	}

	li#first ul li a:hover {
		background: white;
		color: black;
		text-decoration: underline;
	}
			
	li#first ul {
		display: none;
		border-top: 1px solid #404040;
		border-bottom: 1px solid #404040;
		border-left: 1px solid #404040;
		position: absolute;
		width: 180px;
		left: -60px;
	}
	
	div.error-message {
	clear: both;
	color: black;
	font: 12px Arial;
	font-weight: bold;
	background: pink;
	padding: 4px 10px;
	margin: 5px 0;
	border: 1px solid red;
	}

#messageInfo {
	position: absolute;
	top: -60px;
	right: 1px;
	border: 1px solid #46a500;
	background: #f0fee5;
	color: #46a500;
	padding: 10px 30px;
	font: 13px Arial
}
	
#messageInfo a {
	text-decoration: underline;
	color: black;
	font-style: italic;
}

#messageInfo a:hover {
	text-decoration: none;
}